.profile-card {
    width: 100%;
    margin: 0 auto;
    .avatar,
    .details {
        display: inline-block;
    }
}

.avatar {
    float: left;
    width: 200px;
    height: 600px;
    img {
        overflow: hidden;
        border-radius: 50%;
        width: 150px;
    }
}

.details {
    .meta p {
        // display: inline-block;
        margin-right: 10px;
    }
}